*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    --primary: #33ebdb;
    --normal-size: 14px;
}

section {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3,200px);

}

div{
    align-self: center;
    background-color: var(--primary);
    border: 12px solid black;
    height: 100px;
    font-size: var(--normal-size);
    padding: 10px;
    width: 100px;
}

.div3{
    grid-column: 1/2;
    grid-row: 1/2;

}

@supports (display:grid) {
    .div3{
        display:grid;
    }
}
@supports not (display: grid){

}