:root {
    --font-work-sans: 'Work Sans', sans-serif;
    --color-white-latter: #fff;
    --font-size-article: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-work-sans);
    background-color: #eee;
}

header {
    width: 100%;
    height: 50px;   
    background-color: #000;
    color: var(--color-white-latter);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
    font-size: 20px;
    margin: 12px 20px;
}

header .container {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

/* Menú */
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 12px 20px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);

    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: var(--color-white-latter);
    height: 50px;
    text-decoration: none;
    padding:  15px;
    border-bottom: 1px solid var(--color-white-latter);
    transition: all 0.5s;
}

.menu a:hover {
    background-color: #52C7F5;
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

/* Banner */
.banner {
    margin-top: 50px;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner .container {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Promos */
.articles-one {
    margin-bottom: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    grid-gap: auto auto auto auto; 
    padding-bottom: 0px;
}

article {
    /* align-self: none; */
    text-align: center;
    font-size: 12px;
    background-color: var(--color-white-latter);
}

article .color-one {
    color: #52C7F5;
    font-weight: bold;
    font-size: var(--font-size-article);
}

article .color-two {
    color: #52C7F5;
    font-weight: bold;
    font-size: var(--font-size-article);
}

article .color-three {
    color: #52C7F5;
    font-weight: bold;
    font-size: var(--font-size-article);
}

article .color-for {
    color: #b83dba;
    font-weight: bold;
    font-size: var(--font-size-article);
}

/* Carrers */
.tittle-one {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
} 

.carrers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.carrers .box-img figure {
    overflow: hidden;
    padding: 20px;
}

.carrers .box-img figure img {
    width: 100%;
    height: 100%;
}