/****************************** RESPONSIVE WEB ********************************/
@media (min-width: 769px)  {
    :root {
      --prymary-color: #444444;
    }
    body {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    header {
      width: 100%;
      margin: 0;
    }
    .nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      color: white;
      background-color: #59D1EF;
      font-size: 20px;
    }
    .services span {
      margin-right: 10px;
    }
    .services span:hover {
      margin-right: 10px;
      text-decoration: underline;
    }
    .apply-nav {
      height: 50px;
      width: 100px;
      color: white;
      background-color: #5CFE00;
      border-radius: 5px;
    }
    .nav  i {
      display: none;
    }
    .cover {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("./img/homepage__cover.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .slogan {
      height: 60vh;
      width: 70vh;
      background-image: url("./img/slogan-shadow.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .stats {
      width: 100%;
      display: grid;
      grid-template-columns:  repeat(4, 15%);
      justify-content: center;

    }
    .stats-unit {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .unit {
      color: #0000dd;
      line-height: 5px;
      font-size: 40px;
      font-weight: bold;
    }
    .unit-pink {
      color: #aa3344;
      line-height: 5px;
      font-size: 40px;
      font-weight: bold;
    }
    .stats-text {
      padding: 5px;
      font-size: 10px;
      color: #999999;
    }
    .academy-programs {
      display: grid;
      grid-template-columns: 20% 40%;
      grid-column-gap: 20px;
      justify-content: center;
    }
    .academy {
      display: grid;
      grid-template-rows: 50px repeat(2, 250px);
      grid-row-gap: 30px;
    }
    .academy-text-container hr {
      margin-right: 20px;
    }
    .academy-text {
      line-height: 5px;
      font-size: 30px;
    }
    .scholarship {
      margin-top: 0px;
      width: 90%;
      height: 100%;
      background-image: url("./img/beca.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .start-now {
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .start-now h2 {
      margin-top: 20px;
      color: #0000ff;
      font-size: 20px;
      margin-left: 5px;
    }
    .start-now p {
      margin-left: 5px;
      font-size: 10px;
    }
    .start-now button {
      color: white;
      font-size: 10px;
      background-color: #5CFE00;
      width: 100%;
      height: 20%;
      border-radius: 10px;
      margin-left: 5px;
    }
    .programs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows:   50px repeat(2, 250px);
      grid-gap: 30px;
    }
    .programs-text-container {
      grid-column: 1/3
    }
    .programs-text {
      line-height: 5px;
      font-size: 30px;
    }
    .course-mobileweb {
      width: 100%;
      height: 100%;
      background-image: url("./img/web-mobile-card-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 20px;
    }
    .course-cloud {
      width: 100%;
      height: 100%;
      background-image: url("./img/cloud-architect-card-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 20px;
    }
    .course-front {
      width: 100%;
      height: 100%;
      background-image: url("./img/front-end-card-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 20px;
    }
    .course-back {
      width: 100%;
      height: 100%;
      background-image: url("./img/back-end-card-image.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 20px;
    }
    .course-description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 30px;
      width: 100%;
      height: 35%;
      background-color: var(--prymary-color);
    }
    .program-name-mobileweb {
      margin: 0;
      padding-bottom: 9px;
      color: #8EF041;
    }
    .program-name-cloud {
      margin: 0;
      padding-bottom: 9px;
      color: #9471B8;
    }
    .program-name-front {
      margin: 0;
      padding-bottom: 9px;
      color: #ACDBED ;
    }
    .program-name-back {
      margin: 0;
      padding-bottom: 9px;
      color: #FFC300;
    }
    .program-nivel {
      margin: 0;
      color: white;
      line-height: 0px;
      font-size: 20px;
    }
}


/**************************** RESPONSIVE MOBILE *******************************/
@media (max-width: 768px) {
    :root {
      --prymary-color: #444444;
    }
    body {
      margin: 0;
      padding: 0;
      width: 100vh;
    }
    header {
      width: 100vh;
    }
    .nav {
      width: 100vh;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      color: white;
      background-color: var(--prymary-color);
      font-size: 20px;
    }
    .services {
      display: none;
    }
    .apply-nav {
      display: none;
    }
    .nav  i {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
      padding: 5px;
      border: 1px solid white;
      border-radius: 5px;
    }
    .cover {
      height: 100vh;
      width: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("./img/homepage__cover.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .slogan {
      height: 60vh;
      width: 70vh;
      background-image: url("./img/slogan-shadow.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .stats {
      height: 100vh;
      width: 100vh;
      display: grid;
      grid-template-columns:  repeat(2, 1fr);
      grid-template-rows:  repeat(2, 1fr);
    }
    .stats-unit {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .unit {
      color: #0000dd;
      line-height: 5px;
      font-size: 80px;
      font-weight: bold;
    }
    .unit-pink {
      color: #aa3344;
      line-height: 5px;
      font-size: 80px;
      font-weight: bold;
    }
    .stats-text {
      padding: 5px;
      font-size: 20px;
      color: #999999;
    }
    .academy-text {
      line-height: 5px;
      font-size: 50px;
    }
    .scholarship {
      margin: 10px 10px 10px 10px;
      width: 100vh;
      height: 100vh;
      background-image: url("./img/beca.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .start-now {
      width: 100vh;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .start-now h2 {
      color: #0000ff;
      font-size: 50px;
      margin-left: 5px;
    }
    .start-now p {
      margin-left: 5px;
      font-size: 30px;
    }
    .start-now button {
      color: white;
      font-size: 50px;
      background-color: #0000ff;
      width: 100%;
      height: 20%;
      border-radius: 10px;
      margin-left: 5px;
    }
    .programs {
      height: 400vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px  repeat(4, 1fr);
      grid-gap: 30px;
    }
    .programs-text {
      line-height: 5px;
      font-size: 50px;
    }
    .course-mobileweb {
      width: 100%;
      height: 100%;
      background-image: url("./img/web-mobile-card-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 25px;
    }
    .course-cloud {
      width: 100%;
      height: 100%;
      background-image: url("./img/cloud-architect-card-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 25px;
    }
    .course-front {
      width: 100%;
      height: 100%;
      background-image: url("./img/front-end-card-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 25px;
    }
    .course-back {
      width: 100%;
      height: 100%;
      background-image: url("./img/back-end-card-image.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: flex-end;
      font-size: 25px;
    }
    .course-description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 30px;
      width: 100%;
      height: 35%;
      background-color: var(--prymary-color);
    }
    .program-name-mobileweb {
      margin: 0;
      padding-bottom: 9px;
      color: #8EF041;
    }
    .program-name-cloud {
      margin: 0;
      padding-bottom: 9px;
      color: #9471B8;
    }
    .program-name-front {
      margin: 0;
      padding-bottom: 9px;
      color: #ACDBED ;
    }
    .program-name-back {
      margin: 0;
      padding-bottom: 9px;
      color: #FFC300;
    }
    .program-nivel {
      margin: 0;
      color: white;
      line-height: 0px;
      font-size: 20px;
    }
}
